
body{
    
    font-family: arial;
    background-color:white;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
    input {
      width: 500px;
      padding: 8px;
    }
    .form{
      text-align: center;
    }
    #destacada {
        width: 120px;
        height: 250px;
      }
    #dat{
        padding-top: 10em;
    
    }

    .modal-body{
      background-color:#fedf2d;
        text-align: center;
        font-size: 80%;
        box-shadow:0;
    }

/* alert online offline */

.alert{
  position: fixed;
  Width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

.alert--online{
  background-color: rgb(0, 255, 0, 0.6);
  animation: reveal 4s ease;
}

.alert--offline{
  background-color: rgb(255, 0, 0, 0.6);
  animation: reveal 4s ease;
}

#navbar-brand{
    padding-top: 1rem;
   
}

nav,img{
    border-radius: 10px;
}

nav, #navbar{
    background-color: #fedf2d;
    
}

h2{
    color: white;
    font-size: 2rem;
}

#searchText{
    background-color: White;
    width: auto;
    
}
.nav_link{
    padding-right: 40rem;
}

form{
    float: right;
    padding-top: 1rem;
}
